<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/defaultstyle.css' />
    <link rel="stylesheet" href="/stylesheets/ourStoryStyle.css">
</head>

<body>
  <% include ../partials/scripts.ejs %>
    <script type="text/javascript" src="/javascripts/ourStory/script.js">
    </script>
    <!-- <h1><%= title %></h1> -->
    <!-- <img src="/images/graphic_design.svg" alt="" class="graphic_img"> -->
    <% include ../partials/menu.ejs %>

    <div class="d-sm-block d-md-block d-lg-none d-xl-none">
      <h1>  Our Story     </h1>
    </div>
      <div class="main-content">
        <div class=" container-fluid main-content ">

          <div class="row justify-content-around" >
            <div class="col-5">
              <p>Random text</p>
            </div>
            <div class="col-5">
              <span class="quote">

              </span>
            </div>
          </div>
        </div>

      </div>


      </div>

      <!-- <div id="blog-content" >

            </div> -->
      </div>


      </div>


      </div>

      <% include  ../partials/footer.ejs %>
</body>

</html>
