<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/defaultstyle.css' />
    <link rel="stylesheet" href="/stylesheets/ourStoryStyle.css">
</head>

<body>
  <% include ../partials/scripts.ejs %>
    <script type="text/javascript" src="/javascripts/ourStory/script.js">
    </script>
    <!-- <h1><%= title %></h1> -->
    <!-- <img src="/images/graphic_design.svg" alt="" class="graphic_img"> -->
    <% include ../partials/menu.ejs %>

    <div class="d-sm-block d-md-block d-lg-none d-xl-none">
      <h1>  Our Story     </h1>
    </div>
      <div class="main-content">
        <div class=" container-fluid ">

          <div class="row justify-content-between" >
            <!-- <div class=" col-12 col-lg-5">
              <p> Not sure what you want here bro</p>
            </div>
            <div class="col-6 d-none d-lg-block">
               <p class="quoteText"> <span class="openQuote">“</span>Wonderous quote <span class="closeQuote float-right">”</span>
              </p>
               <p id="quote">
                <q cite=""> <span id="quoteText"> Happy Easter!</span>
                  <footer class="float-right">- trolol</footer>
                </q>
              </p>
            </div> -->

            <div class="col-12 mt-4">
              <p> Impatiently he cleared the other two shelves of all they held (mainly old clothes and shoes), removed them as he had done with the middle one, and unlocked the sliding door at the back of the closet. The elephants were forgotten, he stood on the threshold of a secret passage. Its deep darkness was total but something about its speluncar acoustics fortold, clearing its throat hollowly, great things, and he hurried to his own quarters to fetch a couple of flashlights and a pedometer.</p>
            </div>
          </div>
          <br>
          <div class="row justify-content-center ">
            <div class="col-12">
            <div class="card-deck">

              <div class="card">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/2000px-Solid_white.svg.png" class="card-img-top" alt="">
                <!-- <img src="https://res.cloudinary.com/huxr6hrje/image/upload/v1493886682/team-page/jack_2x.jpg" alt="" class="card-img-top"> -->
                <div class="card-img-overlay">
                  <p class="float-left">
                    <span style="font-family:ChauPhilomeneOneRegular">Mercurius Saad</span>
                    <br>
                    <span style="font-family:Lato-Light">CEO & Co-founder</span>
                  </p>
                  <a href="https://www.linkedin.com/in/mariosaadmusic/">
                    <img src="/images/ourStory/linkedIn.svg" alt="" class="float-right">
                  </a>
                </div>
              </div>

              <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Solid_white.svg/2000px-Solid_white.svg.png" class="card-img-top" alt="">
                <!-- <img src="https://res.cloudinary.com/huxr6hrje/image/upload/v1493886682/team-page/jack_2x.jpg" alt="" class="card-img-top"> -->
                <div class="card-img-overlay">
                  <p class="float-left">
                    <span style="font-family:ChauPhilomeneOneRegular">Jeremiah Mendoza</span>
                    <br>
                    <span style="font-family:Lato-Light">CTO & Co-founder</span>
                  </p>
                  <a href="https://www.linkedin.com/in/jm3ndoza/">
                    <img src="/images/ourStory/linkedIn.svg" alt="" class="float-right">
                  </a>
                </div>
              </div>

            </div>
          </div>
          </div>
        </div>

      </div>


      </div>

      <!-- <div id="blog-content" >

            </div> -->
      </div>


      </div>


      </div>

      <% include  ../partials/footer.ejs %>
</body>

</html>
