<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/defaultstyle.css' />
    <link rel="stylesheet" href="/stylesheets/ourStoryStyle.css">
</head>

<body>
  <% include ../partials/scripts.ejs %>
    <script type="text/javascript" src="/javascripts/ourStory/script.js">
    </script>
    <!-- <h1><%= title %></h1> -->
    <!-- <img src="/images/graphic_design.svg" alt="" class="graphic_img"> -->
    <% include ../partials/menu.ejs %>

    <div class="d-sm-block d-md-block d-lg-none d-xl-none">
      <h1>  Our Story     </h1>
    </div>
      <div class="main-content">
        <div class=" container-fluid ">

          <div class="row justify-content-between" >
            <div class=" col-12 col-lg-5">
              <!-- <p>Random text</p> -->
              <p> Not sure what you want here bro</p>
            </div>
            <div class="col-6 d-none d-lg-block">
               <p class="quoteText"> <span class="openQuote">“</span>Wonderous quote <span class="closeQuote float-right">”</span>
              </p>
              <!-- <p id="quote">
                <q cite=""> <span id="quoteText"> Happy Easter!</span>
                  <footer class="float-right">- trolol</footer>
                </q>
              </p> -->
            </div>
          </div>
          <br>
          <div class="row justify-content-center ">
            <div class="col-12">
            <div class="card-deck">
              <div class="card">
                <div class="card-body">

                </div>
                <div class="card-footer">
                  <p class="float-left">Mercurius Saad <br>CEO & Co-founder</p>
                  <img src="/images/ourStory/linkedIn.svg" alt="" class="float-right">
                </div>
              </div>



              <div class="card">
                <div class="card-body">

                </div>
                <div class="card-footer">
                  <p class="float-left">Jerry Saad <br>Mercurius' alias</p>
                  <img src="/images/ourStory/linkedIn.svg" alt="" class="float-right">
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>


      </div>

      <!-- <div id="blog-content" >

            </div> -->
      </div>


      </div>


      </div>

      <% include  ../partials/footer.ejs %>
</body>

</html>
