<div class="container-fluid footer-section">
  <div class="row justify-content-center align-items-center" id="footer-first-height-helper">
    <div class="col-lg-4 col-md-4 col-sm-12 align-items-center">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h2 class="footer-title">Product</h2>
          <ul class="footer-list">
            <li> <a href="/features">Features</a></li>
            <li ><a href="/download">Download</a></li>
            <li><a href="/resources">Resources</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h2 class="footer-title">Resources</h2>
          <ul class="footer-list">
            <li>T&Cs</li>
            <li>Support</li>
            <li>Feedback</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h2 class="footer-title">Company</h2>
          <ul class="footer-list">
            <li>Blog</li>
            <li>About</li>
            <li><a href="/mission"> Mission</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
  <br>
  <div class="row justify-content-center align-items-center" id="footer-second-height-helper">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <p id="copyright"> Copyright © 2018 Tutorbloc. All rights reserved. </p>
    </div>
  </div>
</div>
