<!-- <div class="row">
  <div class="container-fluid footer-section">
    <div class="row justify-content-center align-items-center" id="footer-first-height-helper">
      <div class="col-lg-4 col-md-4 col-sm-12 align-items-center">
        <div class="row justify-content-around">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h2 class="footer-title">Product</h2>
            <ul class="footer-list">
              <li ><a href="/download">Download</a></li>
              <li><a href="/resources">Resources Bank</a></li>
              <li> <a href="/">Features</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h2 class="footer-title">Learn</h2>
            <ul class="footer-list">
              <li>Community</li>
              <li>Our Story</li>
              <li>Blog</li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <h2 class="footer-title">Contact</h2>
            <ul class="footer-list">
              <li>FAQ</li>
              <li class="no-wrap">Terms & Conditions</li>
              <li> Privacy Policy</li>
            </ul>
          </div>
        </div>

      </div>

    </div>
    <br>
    <div class="row justify-content-center align-items-center" id="footer-second-height-helper">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <p id="copyright"> Copyright © 2018 Tutorbloc. All rights reserved. </p>
      </div>
    </div>
  </div>

</div>

 -->


<div class="row footer-section pb-5">
  <div class="container-fluid ">
    <div class="row " id="footer-first-height-helper">
      <div class="w-100 col-12">
        <br>
        <br>
        <img src="/images/tiltedLogo.svg" alt="">
        <hr class="footer-hr">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="row d-flex flex-wrap align-items-center">

          <div class="col-md-4 col-sm-6 col-6">
            <h2 class="footer-title">Product</h2>
            <ul class="footer-list">
              <li>Download</li>
              <li class="no-wrap"><a href="/resource-bank">Resource Bank</a></li>
              <li> <a href="/features">Features</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-6">
            <h2 class="footer-title">Learn</h2>
            <ul class="footer-list">
              <li>Community</li>
              <li class="no-wrap"><a href="/our-story/about">Our Story</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-6">
            <h2 class="footer-title">Contact</h2>
            <ul class="footer-list">
              <li>FAQs</li>
              <li class="no-wrap">Terms & Conditions</li>
              <li class="no-wrap"> Privacy Policy</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-5 offset-lg-2 offset-md-2 col-sm-12">

          <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12">
              <h2 class="footer-updates-title">GET UPDATES & MORE</h2>
              <div class="input-group mb-3 mt-4">
                <input type="text" class="form-control" placeholder="Email Address" aria-label="User's email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <!-- <span class="input-group-text" >SUBMIT</span> -->
                  <button type="button" name="button" id="get-updates"> SUBMIT</button>
                </div>
              </div>
            </div>
          </div>
      </div>


    </div>

    <div class="row align-items-center flex-wrap-reverse mt-md-3 mt-sm-5 mt-5 pb-9">
      <br>
      <br>

      <!-- <p id="copyright">&copy; Tutorbloc 2018</p> -->
      <!-- <div class=" d-flex flex-wrap"> -->
        <div class="col-lg-5 col-md-5 col-sm-12">
          <p id="copyright" class="">&copy; Tutorbloc 2018</p>
        </div>
        <div class="col-lg-5 col-md-5 offset-lg-2 offset-md-2 col-sm-12">
          <div class="row">
              <div class="col-8">
                <ul id="footer-social-list">
                  <li class="footer-social-media-list">
                    <a href="http://www.linkedin.com/company/tutorbloc" class="social-link">
                      <img src="/images/LI.svg" alt="LinkedIn">
                    </a>
                  </li>

                  <li class="footer-social-media-list">
                    <a href="http://www.instagram.com/tutorbloc" class="social-link">
                      <img src="/images/IG.svg" alt="Instagram">
                    </a>
                  </li>

                  <li class="footer-social-media-list">
                    <a href="http://www.twitter.com/tutorbloc"class="social-link" >
                      <img src="/images/TW.svg" alt="Twitter">
                    </a>
                  </li>

                  <li class="footer-social-media-list">
                    <a href="http://www.facebook.com/tutorbloc" class="social-link">
                      <img src="/images/FB.svg" alt="Facebook">
                    </a>
                  </li>

                  <li class="footer-social-media-list">
                    <a href="https://www.youtube.com/channel/UC7HEdjlrEaEEWWKVT85ckTg" class="social-link" >
                      <img src="/images/YT.svg" alt="YouTube">
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-4">
                <div class="">
                 <p id="footer-email"><a href="mailto:mario@tutorbloc.com">mario@tutorbloc.com</a></p>

               </div>
              </div>
          </div>
        </div>
        <!-- <div class="col-2">
          <div class="">
           <p id="footer-email">mario@tutorbloc.com</p>
         </div>
        </div> -->
          <!-- <p id="copyright" class="mr-auto mt-2">&copy; Tutorbloc 2018</p> -->
          <!-- <div class="p-2">
              <ul >
                <li class="footer-social-media-list">
                  <a href="http://www.linkedin.com/company/tutorbloc" class="social-link">
                    <img src="/images/LI.svg" alt="LinkedIn">
                  </a>
                </li>

                <li class="footer-social-media-list">
                  <a href="http://www.instagram.com/tutorbloc" class="social-link">
                    <img src="/images/IG.svg" alt="Instagram">
                  </a>
                </li>

                <li class="footer-social-media-list">
                  <a href="http://www.twitter.com/tutorbloc"class="social-link" >
                    <img src="/images/TW.svg" alt="Twitter">
                  </a>
                </li>

                <li class="footer-social-media-list">
                  <a href="http://www.facebook.com/tutorbloc" class="social-link">
                    <img src="/images/FB.svg" alt="Facebook">
                  </a>
                </li>

                <li class="footer-social-media-list">
                  <a href="https://www.youtube.com/channel/UC7HEdjlrEaEEWWKVT85ckTg" class="social-link" >
                    <img src="/images/YT.svg" alt="YouTube">
                  </a>
                </li>
              </ul>

          </div>
          <div class="p-2">
            <p class="footer-header">mario@tutorbloc.com</p>
          </div> -->
      <!-- </div> -->
      <br>
    </div>
    <!-- <div class="row w-100">
      <br>
      <br>

      <div class="col-12 d-flex flex-wrap align-items-start">

          <p id="copyright" class="mr-5 p-2">&copy; Tutorbloc 2018</p>
          <div class="p-2">
              <ul >
                <li class="footer-social-media-list">
                  <a href="http://www.linkedin.com/company/tutorbloc" class="social-link">
                    <img src="/images/LI.svg" alt="LinkedIn">
                  </a>
                </li>

                <li class="footer-social-media-list">
                  <a href="http://www.instagram.com/tutorbloc" class="social-link">
                    <img src="/images/IG.svg" alt="Instagram">
                  </a>
                </li>

                <li class="footer-social-media-list">
                  <a href="http://www.twitter.com/tutorbloc"class="social-link" >
                    <img src="/images/TW.svg" alt="Twitter">
                  </a>
                </li>

                <li class="footer-social-media-list">
                  <a href="http://www.facebook.com/tutorbloc" class="social-link">
                    <img src="/images/FB.svg" alt="Facebook">
                  </a>
                </li>

                <li class="footer-social-media-list">
                  <a href="https://www.youtube.com/channel/UC7HEdjlrEaEEWWKVT85ckTg" class="social-link" >
                    <img src="/images/YT.svg" alt="YouTube">
                  </a>
                </li>
              </ul>

          </div>
          <div class="p-2">
            <p class="footer-header">mario@tutorbloc.com</p>
          </div>
      </div>
      <br>
    </div> -->
  </div>

</div>
