
    <footer id="footer">



      <div class="container-fluid">
        <div class="container">
          <!-- <img id="female_reader" src="/images/female_reader.svg" alt="" > -->
          <ul>
            <li>  <img id="female_reader" src="/images/female_reader.svg" alt="" >  </li>
            <li>  WHAT MAKES US DIFFERENT?
            </li>
            <li> <img src="/images/safeguarding_logo.svg" class="footer_img"><a href="#" class="footer_description"> SAFEGUARDING</a>
            </li>

            <li> <img src="/images/payment_logo.svg" class="footer_img"><a href="#" class="footer_description"> PAYMENT?</a>
            </li>

            <li><img src="/images/scheduling_logo.svg" class="footer_img"><a href="#" class="footer_description"> SCHEDULING</a></li>

            <li>
              <p class="copyright">
                Copyright © 2018 Tutorbloc.<br>
                All rights reserved.
              </p>
            </li>
          </ul>
        </div>
      </div>




    </footer>
