<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="#" id="brand"> <img class="logo" src="/images/tbLogo.png" > tutorbloc </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Features </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mission</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a href="#" class="nav-link">
          <img src="/images/LI.svg" alt="LinkedIn">
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <img src="/images/IG.svg" alt="Instagram">
        </a>
      </li>

      <li class="nav-item">
        <a href="#"class="nav-link" >
          <img src="/images/TW.svg" alt="Twitter">
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"href="#">
          <img src="/images/FB.svg" alt="Facebook">
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <img src="/images/YT.svg" alt="YouTube">
        </a>
      </li>

    </ul>
  </div>
</nav>
