<div class="row justify-content-between align-items-center">
  <div class="col-2">
      <!-- <a class="navbar-brand " href="/" id="brand" > <img class="logo" src="/images/tbLogo.svg" /> <span id="namebrand"> tutor<span id="title-bloc">bloc</span></span> </a> -->
  </div>
  <div class="col-2">

    <a href="javascript:void(0)"  id="closebtnlink" onclick="closeNav()"> <img class="closebtn" src="/images/close_menu_x.svg" alt="Close Button"></a>
  </div>
  <div class="col-2 d-flex justify-content-center">
    <!-- <span class="navbar-toggler-icon hamburger" onclick="closeNav()"></span> -->
  </div>
</div>
<hr id="mobile-menu-hr">
<div class="menu-overlay-content">

  <ul class="navbar-nav ">
    <li class="nav-item nav-site-links active">
      <!-- <a class="nav-link" href="/">HOME</a> -->
      <a class="nav-link" href="/">HOME</a>
    </li>
    <li class="nav-item nav-site-links active">
      <!-- <a class="nav-link" href="/features">FEATURES</a> -->
      <a class="nav-link" href="#">FEATURES</a>
    </li>
    <!-- <li class="nav-item nav-site-links">
      <a class="nav-link" href="/download">Download</a>
    </li> -->
    <li class="nav-item nav-site-links">
      <!-- <a class="nav-link" href="/resource-bank">RESOURCE BANK</a> -->
      <a class="nav-link" href="#">RESOURCE BANK</a>
    </li>
    <li class="nav-item nav-site-links">
      <a class="nav-link" href="#">OUR STORY</a>
      <!-- <a class="nav-link" href="/our-story">OUR STORY</a> -->
    </li>
    <li class="nav-item nav-site-links">
        <a class="nav-link" href="#">COMMUNITY</a>
      <!-- <a class="nav-link" href="/blog">BLOG</a> -->
    </li>
  </ul>
  <br>
  <!-- <a> <button type="button" class="mobile-menu-button" name="button">DOWNLOAD NOW</button></a> -->
  <a href="https://tutorbloc.typeform.com/to/CNH87s"> <button type="button" class="standard-button" name="button">GET STARTED</button></a>
  <br>
  <br>
  <!-- <div class="row justify-content-center">
    <ul >
      <li class="mobile-menu-list">
        <a href="http://www.linkedin.com/company/tutorbloc" class="nav-link">
          <img src="/images/LI.svg" alt="LinkedIn">
        </a>
      </li>

      <li class="mobile-menu-list">
        <a href="http://www.instagram.com/tutorbloc" class="nav-link">
          <img src="/images/IG.svg" alt="Instagram">
        </a>
      </li>

      <li class="mobile-menu-list">
        <a href="http://www.twitter.com/tutorbloc"class="nav-link" >
          <img src="/images/TW.svg" alt="Twitter">
        </a>
      </li>

      <li class="mobile-menu-list">
        <a class="nav-link"href="http://www.facebook.com/tutorbloc">
          <img src="/images/FB.svg" alt="Facebook">
        </a>
      </li>

      <li class="mobile-menu-list">
        <a class="nav-link" href="https://www.youtube.com/channel/UC7HEdjlrEaEEWWKVT85ckTg" >
          <img src="/images/YT.svg" alt="YouTube">
        </a>
      </li>
    </ul>
  </div> -->
</div>
