<!-- <ul class="navbar-nav mr-auto">
  <li class="nav-item nav-site-links active">
    <a class="nav-link" href="/solutions">Made For You </a>
  </li>
  <li class="nav-item nav-site-links">
    <a class="nav-link" href="/resources">Resources</a>
  </li>
  <li class="nav-item nav-site-links">
    <a class="nav-link" href="/company">Company</a>
  </li>
</ul>

<ul class="navbar-nav ml-auto">

  <li class="nav-item">
    <a href="http://www.linkedin.com/company/tutorbloc" class="nav-link">
      <img src="/images/LI.svg" alt="LinkedIn">
    </a>
  </li>

  <li class="nav-item">
    <a href="http://www.instagram.com/tutorbloc" class="nav-link">
      <img src="/images/IG.svg" alt="Instagram">
    </a>
  </li>

  <li class="nav-item">
    <a href="http://www.twitter.com/tutorbloc"class="nav-link" >
      <img src="/images/TW.svg" alt="Twitter">
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link"href="http://www.facebook.com/tutorbloc">
      <img src="/images/FB.svg" alt="Facebook">
    </a>
  </li>

  <li class="nav-item">
    <a href="https://www.youtube.com/channel/UC7HEdjlrEaEEWWKVT85ckTg" class="nav-link">
      <img src="/images/YT.svg" alt="YouTube">
    </a>
  </li>

</ul>
 -->


<ul class="navbar-nav ml-auto w-100 justify-content-start">
  <li class="nav-item nav-site-links active no-wrap pl-0">
    <a class="nav-link " href="/features">FEATURES</a>
  </li>
  <li class="nav-item nav-site-links">
    <a class="nav-link" href="/resource-bank">RESOURCE BANK</a>
  </li>

</ul>

<ul class="navbar-nav ml-auto w-100 justify-content-center">
  <li class="nav-item nav-site-links ">
    <a class="navbar-brand" href="/" id="brand">  <span id="namebrand"> tutor<span id="title-bloc">bloc</span></span> </a>
  </li>
</ul>

<ul class="navbar-nav ml-auto w-100 justify-content-end">
  <li class="nav-item nav-site-links">
    <a class="nav-link" href="/our-story">OUR STORY</a>
  </li>
  <li class="nav-item nav-site-links">
    <a class="nav-link" href="/blog">BLOG</a>
  </li>
</ul>
