<ul class="navbar-nav mr-auto">
  <li class="nav-item nav-site-links active">
    <a class="nav-link" href="/features">Features </a>
  </li>
  <li class="nav-item nav-site-links">
    <a class="nav-link" href="/download">Download</a>
  </li>
  <li class="nav-item nav-site-links">
    <a class="nav-link" href="/resources">Resources</a>
  </li>
  <li class="nav-item nav-site-links">
    <a class="nav-link" href="/mission">Mission</a>
  </li>
</ul>

<ul class="navbar-nav ml-auto">

  <li class="nav-item">
    <a href="linkedin.com/company/tutorbloc" class="nav-link">
      <img src="/images/LI.svg" alt="LinkedIn">
    </a>
  </li>

  <li class="nav-item">
    <a href="instagram.com/tutorbloc" class="nav-link">
      <img src="/images/IG.svg" alt="Instagram">
    </a>
  </li>

  <li class="nav-item">
    <a href="twitter.com/tutorbloc"class="nav-link" >
      <img src="/images/TW.svg" alt="Twitter">
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link"href="facebook.com/tutorbloc">
      <img src="/images/FB.svg" alt="Facebook">
    </a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link">
      <img src="/images/YT.svg" alt="YouTube">
    </a>
  </li>

</ul>
