<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/defaultstyle.css' />
    <link rel='stylesheet' href='/stylesheets/featuresStyle.css' />
</head>

<body>
  <% include ../partials/scripts.ejs %>
    <!-- <h1><%= title %></h1> -->
    <!-- <img src="/images/graphic_design.svg" alt="" class="graphic_img"> -->
    <% include ../partials/menu.ejs %>

    <div class="d-sm-block d-md-block d-lg-none d-xl-none">
      <h1>  Features     </h1>
    </div>
      <div class="main-content ">



        <div class="container-fluid">
          <div class="row justify-content-between" >
            <div class="col-lg-9 col-md-12 col" >
              <div class="d-flex flex-column bd-highlight mb-3 h-100">
                <div class="featuresList">


                  <span class="featureNumber">1.</span> <span class="featureTitle"> Availability</span>

                  <p class="featuresText">Numero uno</p>
                </div>
                <div class="featuresList">
                  <span class="featureNumber">2.</span><span class="featureTitle"> Results</span>
                </div>
                <div class="featuresList">
                  <span class="featureNumber">3.</span><span class="featureTitle"> Book</span>
                </div>
              </div>
            </div>
            <div class="col-3 d-none d-sm-none d-md-none d-lg-block align-self-center">

              <img src="/images/iphoneTutorbloc.png" alt="appDisplay" style="width:244px; height:486px; float:right">
            </div>
          </div>
        </div>


      </div>

      <% include  ../partials/footer.ejs %>
</body>

</html>
