<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
    <title>
      <%= title %>
    </title>

    <link rel="stylesheet" href='/stylesheets/defaultstyle.css' />
    <link rel="stylesheet" href="/stylesheets/communityStyle.css">
</head>

<body>
  <% include ../partials/scripts.ejs %>

    </script>
    <!-- <h1><%= title %></h1> -->
    <!-- <img src="/images/graphic_design.svg" alt="" class="graphic_img"> -->
    <% include ../partials/menu.ejs %>

      <div class="d-sm-block d-md-block d-lg-none d-xl-none">
        <h1>  Community     </h1>
      </div>

      <div class="main-content">
        <div class=" container-fluid height-limit">
          <div class="d-none d-sm-none d-md-none d-lg-block">
            <% include ../partials/community/desktopView.ejs %>
          </div>
          <div class="d-sm-block d-md-block d-lg-none d-xl-none">
            <% include ../partials/community/mobileView.ejs %>
          </div>

        </div>


      </div>

      <!-- <div id="blog-content" >

            </div> -->
      </div>


      </div>


      </div>

      <% include  ../partials/footer.ejs %>
</body>

</html>
