

h5.card-title{
    font-family: Lato-Regular;
    font-size: 16px;
    /* white-space: nowrap; */
}
.company-hr {
  width: 85%;
  margin-top: 0;
  margin-bottom: 0;
}

p.card-text ,  h6.card-subtitle {
  text-align: left;
  font-family: Lato-Light;
  font-size: 14px;
}

 .mobileOption.nav-pills {
  background-color: #C0B2A3;
  opacity: 50%;
  border-radius: 15px;
}
.mobileOption.nav-link:hover{
  color: #2E3B51;
}
.mobileOption.nav-link{
  display: inline-block;
  width: 100%;
  color: #2E3B51;
}
.mobileOption.nav-pills .mobileOption.nav-link.active{
  opacity: 50%;
  background-color: #C0B2A3;
  width: 100%;
  border-radius: 15px;
  display: inline-block;
  width: 100%;
}

.card {
  border-radius: 5px;
  border-top: 9px solid #2E3B51;
  border-left: 0px;
  border-right: 0px;
}
.strong-words {
  color: #2E3B51;
  font-style: italic;
  font-family: Lato-Bold;
}
.company-link {
  font-size: 14px;

}
.company-link:hover{
  text-decoration: none;
  color: #2E3B51;
}
.company-content {
  width: 83%;
  /* align-items: center; */
  /* text-align: center; */
  /* font-size: 23px; */
}


.communityInfo{
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.communityPost , .communityMobilePost{
  color: #2E3B51;
  font-family: Lato-Regular;
  border-radius: 3px;
  border-bottom: 1px solid #2E3B51;
  height: 150px;
  border-top: 1px solid #2E3B51;
  /* background-color:rgba(192,178,166,0.1); */
  background-color: rgba(192, 178, 166,0.5);
  padding: 21px 15px 21px 48px;
  margin: 0;
}
.communityMobilePost {
  border: 1px solid #2E3B51;
  overflow: hidden;
  height: auto;
  padding-bottom: 0px;
}
.communityHeader {
  font-size: 18px;
  font-family: Lato-Bold;
}
.communitySummary{
  padding-top: 25px;
  font-size: 16px;
  font-family: Lato-Regular;
  overflow: hidden;
  text-overflow: ellipsis;
}
.iconText {
  font-size: 10px;
  white-space: nowrap;
  padding-right: 12px;
}

.iconText:first-child {
  padding-top: 10px;
}
.iconImage {
  margin-right: 10px;
}

.noOverflow{
  height:100%;
  overflow:hidden;
}

#company-tagline {
  text-align: center;
  font-family: Lato-Italic;
  font-size: 13px;
}


@media(min-width:768px) {
  .height-limit {
      max-height: 65vh;
  }
}

@media(max-width:576px) {
  .height-limit {
    max-height: none;
  }
}
