
@font-face {
  font-family: Lato-Bold-Italic;
  src: url(../fonts/tbBodyFont/Lato-BoldItalic.ttf);
}

body {
    overflow-x: hidden;
}
h1 {
  font-family: ChauPhilomeneOneRegular;
  color: #5B5E6D;
  /* font-size: 7.3vh; */
  font-size: 26px;
  text-align: left;
  white-space: nowrap;
}

#subHeader {
  font-family: ChauPhilomeneOneRegular;
  color: #FFFFFF;
  font-size: 32px;
  text-align: left;
  white-space: nowrap;
}

#click-bait-text{
  margin-top: 15px;
  font-size: 12px;
  font-family: Lato-Bold-Italic;
}
.vertical-alignment {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.informational-section {
  background-color: #2E3B51;
  height: 35vh;
  padding-left: 80px;
  padding-right: 80px;
  /* margin-top: 55.6px; */
}

.informational-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 20px;
  height: 60px;
}

.informational-text {
  color: #FFFFFF;
  margin-bottom: 0px;
  text-align: center;
  font-family: Lato-Hairline;
  font-size: 14px;
}
.landing-info{
  padding-left:50px;
}


#landing-img {
  max-height:90vh;
  min-width:100%;
  height:500px;
  float:left;
}

#welcome-text{
  /* font-family: Lato-Bold; */
  font-weight: 600;
}
@media(max-width:576px)  {
  .line-break-pitch{
    display: none;
  }
   #landing-img {
    max-height:63vh;
  }
  .line-break-pitch{
    display: none;
  }
  #welcome-text {
    padding: 0px 15px;
    text-align: left;
  }
  #main-content-alignment {
    margin-left: 0px;
  }
  h1 {
    text-align: left;
        padding: 0 15px;
  }
  .landing-info{
    padding-left:0px;
    text-align: center;
  }
  .informational-text {
    font-size: 15px;
    font-family: Lato-Light;
  }
  .vertical-alignment {
    min-height: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .informational-section {
    background-color: #2E3B51;
    height: auto;
    padding-top: 30px;
    padding-bottom: 90px;
    padding-left: 40px;
    padding-right: 40px
  }
  .informational-image {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 60px;
  }

  p {
    font-size: 15px;
  }
  .standard-button {
    width: 92vw;
  }
}

@media(min-width:576px) {


  .remove-for-small {
    display: none;
  }
  .informational-section {
    background-color: #2E3B51;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-top: 55.6px; */
  }
  h1 {
    font-size: 28px;
  }
  #subHeader {
    color: #FFFFFF;
    font-size: 32px;
  }
  /* .footer-section {
    background-color: #FFFFFF;
    height: auto;
  } */
  .vertical-alignment {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 60vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    text-align: center;
  }

  .informational-text {
    font-size: 14px;
    font-family: Lato-Light;
  }
  .informational-section {
    background-color: #2E3B51;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .informational-image {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 60px;
  }
}

@media(min-width:768px) {
  /* #landing-img {
    height: 90vh;
  } */
  .informational-image {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 60px;
  }
  .line-break-pitch{
    display: inline;
    text-align: left;
  }
  .vertical-alignment {
    min-height: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;
  }

  h1 {
    /* font-family: ChauPhilomeneOneRegular; */
    /* color: #5B5E6D; */
    font-size: 32px;
    /* text-align: center; */
  }
  #subHeader {
    color: #FFFFFF;
    font-size: 36px;
  }

  .informational-text {
    color: #FFFFFF;
    margin-bottom: 0px;
    text-align: center;
    font-family: Lato-Hairline;
    font-size: 14px;
  }
}

@media(min-width:992px) {

  .vertical-alignment {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    text-align: left;
  }

  h1 {
    /* font-family: ChauPhilomeneOneRegular; */
    /* color: #5B5E6D; */
    font-size: 32px;
    /* text-align: left; */
  }
  #subHeader {
    color: #FFFFFF;
    font-size: 40px;
  }
  p {
    font-size: 17px;
  }

  #landing-img {

    height:480px;

  }
}

@media(min-width:1200px) {
  .vertical-alignment {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    /* align-items: center; */
    text-align: left;
  }

  h1 {
    /* font-family: ChauPhilomeneOneRegular; */
    /* color: #5B5E6D; */
    font-size: 39px;
    /* text-align: left; */
  }
  #subHeader {
    color: #FFFFFF;
    font-size: 55px;
  }
}
