
@font-face {
  font-family: Lato-Bold-Italic;
  src: url(../fonts/tbBodyFont/Lato-BoldItalic.ttf);
}

h1 {
  font-family: ChauPhilomeneOneRegular;
  color: #5B5E6D;
  /* font-size: 7.3vh; */
  font-size: 25px;
}

#click-bait-text{
  margin-top: 15px;
  font-size: 10px;
  font-family: Lato-Bold-Italic;
}
.vertical-alignment {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.informational-section {
  background-color: #2E3B51;
  height: 35vh;
  /* margin-top: 55.6px; */
}

.informational-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 20px;
  height: 60px;
}

.informational-text {
  color: #FFFFFF;
  margin-bottom: 0px;
  text-align: center;
  font-family: Lato-Hairline;
  font-size: 14px;
}

@media(max-width:576px)  {

  .line-break-pitch{
    display: none;
  }

  .informational-text {
    font-size: 15px;
    font-family: Lato-Light;
  }
  .vertical-alignment {
    min-height: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .informational-section {
    background-color: #2E3B51;
    height: auto;
    padding-top: 30px;
    padding-bottom: 90px;
  }
  .informational-image {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 60px;
  }

  p {
    font-size: 15px;
  }
}

@media(min-width:576px) {

  .line-break-pitch{
    display: none;
  }

  .informational-section {
    background-color: #2E3B51;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-top: 55.6px; */
  }
  h1 {
    font-family: ChauPhilomeneOneRegular;
    color: #5B5E6D;
    font-size: 35px;
    text-align: center;
  }

  /* .footer-section {
    background-color: #FFFFFF;
    height: auto;
  } */
  .vertical-alignment {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 60vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    text-align: center;
  }

  .informational-text {
    font-size: 14px;
    font-family: Lato-Light;
  }
  .informational-section {
    background-color: #2E3B51;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .informational-image {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 60px;
  }
}

@media(min-width:768px) {

  .informational-image {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 60px;
  }
  .line-break-pitch{
    display: inline;
    text-align: left;
  }
  .vertical-alignment {
    min-height: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-family: ChauPhilomeneOneRegular;
    color: #5B5E6D;
    font-size: 32px;
    text-align: center;
  }

  .informational-text {
    color: #FFFFFF;
    margin-bottom: 0px;
    text-align: center;
    font-family: Lato-Hairline;
    font-size: 14px;
  }
}

@media(min-width:992px) {

  .vertical-alignment {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    text-align: left;
  }

  h1 {
    font-family: ChauPhilomeneOneRegular;
    color: #5B5E6D;
    font-size: 43px;
    text-align: left;
  }

  p {
    font-size: 17px;
  }
}

@media(min-width:1200px) {
  .vertical-alignment {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    /* align-items: center; */
    text-align: left;
  }

  h1 {
    font-family: ChauPhilomeneOneRegular;
    color: #5B5E6D;
    font-size: 55px;
    text-align: left;
  }
}
