h1 {
  font-family: ChauPhilomeneOneRegular;
  color: #5B5E6D;
  font-size: 7.3vh;
}
.vertical-alignment {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.informational-section {
  background-color: #2E3B51;
  height: 35vh;
  /* margin-top: 55.6px; */
}

.informational-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 20px;
  height: 60px;
}

.informational-text {
  color: #FFFFFF;
  margin-bottom: 0px;
  text-align: center;
  font-family: Lato-Hairline;
  font-size: 1.8vh;
}

@media(max-width:576px)  {

  .informational-text {
    font-size: 2.5vh;
  }
  .vertical-alignment {
    min-height: 100%;
    min-height: 70vh;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .informational-section {
    background-color: #2E3B51;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .informational-image {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 60px;
  }
}

@media(min-width:576px) {

  .informational-section {
    background-color: #2E3B51;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-top: 55.6px; */
  }
  h1 {
    font-family: ChauPhilomeneOneRegular;
    color: #5B5E6D;
    font-size: 5.8vh;
    text-align: center;
  }

  /* .footer-section {
    background-color: #FFFFFF;
    height: auto;
  } */
  .vertical-alignment {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 60vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    text-align: center;
  }

  .informational-text {
    font-size: 2.5vh;
  }
  .informational-section {
    background-color: #2E3B51;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .informational-image {
    display: block;
    /* margin-top: 30px; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    height: 60px;
  }
}

@media(min-width:768px) {

  .vertical-alignment {
    min-height: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-family: ChauPhilomeneOneRegular;
    color: #5B5E6D;
    font-size: 7.3vh;
    text-align: center;
  }

}

@media(min-width:992px) {

  .vertical-alignment {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    text-align: left;
  }

  h1 {
    font-family: ChauPhilomeneOneRegular;
    color: #5B5E6D;
    font-size: 7.3vh;
    text-align: left;
  }
}

@media(min-width:1200px) {
  .vertical-alignment {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    /* align-items: center; */
    text-align: left;
  }

  h1 {
    font-family: ChauPhilomeneOneRegular;
    color: #5B5E6D;
    font-size: 7.3vh;
    text-align: left;
  }
}
