
.company-hr {
  width: 85%;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  text-align: left;
  font-family: Lato-Regular;
  font-size: 18px;
}

/* .main-content {
  min-height: 100vh;
  height: auto
} */
 .strong-words {
  color: #2E3B51;
  font-style: italic;
  font-family: Lato-Bold;
}
.company-link {
  font-size: 14px;

}
.company-link:hover{
  text-decoration: none;
  color: #2E3B51;
}
.company-content {
  width: 83%;
  /* align-items: center; */
  /* text-align: center; */
  /* font-size: 23px; */
}


#company-tagline {
  text-align: center;
  font-family: Lato-Italic;
  font-size: 13px;
}
