@font-face {
  font-family: ChauPhilomeneOneRegular;
  src: url(../fonts/tbLogoFont/ChauPhilomeneOne-Regular.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(../fonts/tbBodyFont/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/tbBodyFont/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-LightItalic;
  src: url(../fonts/tbBodyFont/Lato-LightItalic.ttf);
}

@font-face {
  font-family: Lato-Hairline;
    src: url(../fonts/tbBodyFont/Lato-Hairline.ttf);
}

html, body{
  height: 100%;
}
.main-content {
    height: 90vh;
    overflow-y: show; /* don't show content that exceeds my height */
}
* {
    box-sizing: border-box;
}

body {
   background-image: url("../images/background_pattern.svg");
   background-color: #E9D6CA;
   background-repeat: repeat;

}

h1{
  font-family: ChauPhilomeneOneRegular;
  color: #5B5E6D;
  font-size: 7.3vh;
}
h2 {
  font-family: Lato-Regular;
  color: #FFFFFF;
  font-size: 2.3vh;
  text-align: center;
}
a {
 font-family: Lato-Regular;
 color: #5B5E6D;
}
p {
  font-family: Lato-Light;
  color: #5B5E6D;
  font-size: 2.5vh;
}
.vertical-alignment {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

}
.vertical-center{
  /* min-height: 100%; */
  /* min-height: 50vh; */

  display: flex;
  align-items: center;
  text-align: center;
}
nav {
  min-height: 100%;
  min-height:10vh;
}
.navbar {
  padding-left: 85px;
  padding-right: 85px;
  /* background-color: #E9D6CA; */
  background-color: rgba(233,214,202, 0.3);
}

.nav-link {
  color: #5B5E6D;
  font-size: 1.3vw;
  font-family: Lato-Light;
}

.nav-site-links {
  padding-right: 10px;
  padding-left: 10px;
}

#title-bloc{
 color:#2E3B51;
}
#brand {
  font-family: ChauPhilomeneOneRegular;
  color: #5B5E6D;
  padding-right: 25px;
  font-size: 2vw;
}

#title_header_1 {
  color: #FFFFFF;
}

#main-content-alignment{
  margin-left: 40px;
}
.logo {
  /* max-height: px; */
}

/* .graphic_img{

  background-image: url("../images/graphic_design.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 55%;

} */


button {
  background-color:  #2E3B51;
  border: none;
  color: white;
  font-family:  Lato-Regular;
  border-radius: 5px;
  font-size: 1.8vh;
  width: 25vh;
  height: 6.8vh;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(91,94,109, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.height-helper{
  height: 100%;
}
 .informational-section{
   background-color: #2E3B51;
   height: 35vh;
   /* margin-top: 55.6px; */
 }

.informational-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 20px;
  height: 60px;
}
.informational-text {
  color: #FFFFFF;
  margin-bottom: 0px;
  text-align: center;
  font-family: Lato-Hairline;
  font-size: 1.8vh;

}
.footer-section{
  background-color: #FFFFFF;
  height: 28vh;
}

.footer-title {
  color: #5B5E6D;
  font-size: 2.2vh;
  font-family: Lato-Regular;
}
.footer-list {
  list-style: none;
  text-align: center;
  font-size: 2vh;
  font-family: Lato-Light;
  color: #5B5E6D;
  padding: 0;
  margin-bottom: 0;
}
#footer-first-height-helper{
  height: 80%;
}
#footer-second-height-helper{
  height:10%;
}
#copyright {
  font-size: 1.5vh;
  font-family: Lato-LightItalic;
  color: /* #5B5E6D; */ rgba(91,94,109,0.4);
  text-align: center;
}
@media(max-width:576px){
  .graphic_img{

 }

 .vertical-alignment {
   min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
   min-height: 60vh; /* These two lines are counted as one :-)       */

   display: flex;
   align-items: center;
   text-align: center;

 }

 h1{
   font-family: ChauPhilomeneOneRegular;
   color: #5B5E6D;
   font-size: 4vh;
 }

}
@media(min-width:576px){
   .navbar {
     padding-left: 13px;
     padding-right: 0px;
   }
  .vertical-alignment{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 60vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;

  }
}
@media(min-width:768px){
  /* .navbar {
    padding-left: 13px;
    padding-right: 0px
  } */

  .vertical-alignment {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 60vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
    text-align: center;
  }

}
@media(min-width:992px){
  .navbar {
    padding-left: 85px;
    padding-right: 85px
  }

  .vertical-alignment {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
    text-align: left;
  }

   .graphic_img{
    background-image: url("../images/graphic_design.svg");
    background-repeat: no-repeat;
    background-position: 100% 40%;
    background-size: 50%;
  }

}
@media(min-width:1200px){
  .navbar {
    padding-left: 85px;
    padding-right: 85px
  }
  .vertical-alignment {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
    text-align: left;
  }

  .graphic_img{
    /* float:right; */
    background-image: url("../images/graphic_design.svg");
    background-repeat: no-repeat;
    background-position: 100% 40%;
    background-size: 50%;

  }

}
