@font-face {
  font-family: ChauPhilomeneOneRegular;
  src: url(../fonts/tbLogoFont/ChauPhilomeneOne-Regular.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(../fonts/tbBodyFont/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/tbBodyFont/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-LightItalic;
  src: url(../fonts/tbBodyFont/Lato-LightItalic.ttf);
}
* {
    box-sizing: border-box;
}

body {
   background-image: url("../images/background_pattern.svg");
   background-color: #E2D1C6;
   background-repeat: repeat;

}

h1{
  font-family: ChauPhilomeneOneRegular;
  color: #5B5E6D;
  font-size: 6vh;
}
a {
 font-family: Lato-Regular;
 color: #5B5E6D;
}
p {
  font-family: Lato-Light;
  color: #5B5E6D;
  font-size: 2vh;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;

}
nav {
  min-height: 100%;
  min-height:10vh;
  padding: 0px;
}
.navbar {
  padding: 0px;
}

.nav-link {
  color: #5B5E6D;
  font-size: 2vh;
  font-style: Lato-Light;
}
#brand {
  font-family: ChauPhilomeneOneRegular;
  color: #5B5E6D;
  padding-right: 25px;
}

#footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  left:0px;
  bottom:0px;
  height:8vh;
  width:100%;
  background-color: #FFFFFE;
}
/* #female_reader{
  transform: translate(-9vw, -7.8vh);
  height: 15vh;
} */
#female_reader{
  transform: translate(0vw, -7.8vh);
  height: 15vh;
}
#title_header_1 {
  color: #FFFFFF;
}

footer > div > div > ul  {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  align-items: center;

}

footer > div > div > ul > li {
  float: left;
  color: #2E3B51;
  padding-right: 50px;
  font-size: 1.7vh;
}
footer > div > div> ul > li > a{
  display: inline;
  color: #2E3B51;
}
/* footer > ul > li > p{
  display: inline;
} */
.logo {
  max-height: 20px;
}

/* .graphic_img{

  background-image: url("../images/graphic_design.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 55%;

} */

.copyright{
  font-family: Lato-LightItalic;
  font-size: 1.3vh;
  /* vertical-align: center; */
  text-align: center;
  margin: 0px;
  padding-right: 0px;
}
.footer_img {
  padding-left: 5pt;
  padding-right: 5pt;
  height: 4vh;
}

button {
  background-color:  #2E3B51;
  color: white;
  font-family:  Lato-Light;
  border-radius: 5px;
  font-size: 1.5vh;
  width: 25vh;
  height: 5vh;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(91,94,109, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

@include media-breakpoint-down(xs){
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}
@media(max-width:576px){
  .graphic_img{

 }
 footer > ul > li {
   float: left;
   padding-right: 0px;
   font-size: 1.7vw;
 }
 .copyright{
   font-family: Lato-LightItalic;
   font-size: 1.7vw;
   text-align: center;
   /* vertical-align: center; */
   text-align: center;
   margin: 0px;
 }

 .vertical-center {
   min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
   min-height: 60vh; /* These two lines are counted as one :-)       */

   display: flex;
   align-items: center;

 }

 h1{
   font-family: ChauPhilomeneOneRegular;
   color: #5B5E6D;
   font-size: 4vh;
 }

 #footer {
   position: fixed;
   display: flex;
   align-items: center;
   justify-content: center;

   left:0px;
   bottom:0px;
   height:6vh;
   width:100%;
   background-color: #FFFFFE;
 }
 #female_reader{
   transform: translate(-1vw, -6.3vh);
   height: 13vh;
 }
}
@media(min-width:576px){
   .graphic_img{

  }
  footer > ul > li {
    float: left;
    padding-right: 0px;
    font-size: 1.7vw;
  }
  .copyright{
    font-family: Lato-LightItalic;
    font-size: 1.3vw;
    /* vertical-align: center; */
    text-align: center;
    margin: 0px;
  }

}
@media(min-width:768px){
  .graphic_img{
    /* float:right; */
    background-image: url("../images/graphic_design.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 55%;

  }
  footer > ul > li {
    float: left;
    padding-right: 35px;
    font-size: 1.7vh;
  }
  .copyright{
    font-family: Lato-LightItalic;
    font-size: 1.3vh;
    color: rgba(91, 94, 109, 0.5);
    /* vertical-align: center; */
    text-align: center;
    margin: 0px;
  }


}
@media(min-width:992px){
  .graphic_img{
    /* float:right; */
    background-image: url("../images/graphic_design.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 52.5%;

  }
  /* #female_reader{
    transform: translate(-7.3vw, -7.8vh);
    height: 15vh;
  } */
}
@media(min-width:1200px){
  .graphic_img{
    /* float:right; */
    background-image: url("../images/graphic_design.svg");
    background-repeat: no-repeat;
    background-position: 100% 110%;
    /* background-size: 50%; */

  }

}
