<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
  <title>
    <%= title %>
  </title>
    <link rel='stylesheet' href='/stylesheets/defaultstyle.css' />
</head>

<body>
  <% include ../partials/scripts.ejs %>
    <!-- <h1><%= title %></h1> -->
    <!-- <img src="/images/graphic_design.svg" alt="" class="graphic_img"> -->
      <% include ../partials/menu.ejs %>
    <div class="container-fluid  main-content ">
      <div class="container " >
          <div class="row justify-content-center">
            <div class=" col ">
              <br>
              <br>
              <h1>MADE FOR YOU</h1>
            </div>
          </div>
      </div>
    </div>

    <% include  ../partials/footer.ejs %>
</body>

</html>
