<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
  <title>
    <%= title %>
  </title>
    <link rel='stylesheet' href='/stylesheets/defaultstyle.css' />
    <link rel='stylesheet' href='/stylesheets/homestyle.css' />
</head>

<body>
  <% include ../partials/scripts.ejs %>
    <!-- <h1><%= title %></h1> -->
    <!-- <img src="/images/graphic_design.svg" alt="" class="graphic_img"> -->
    <% include ../partials/menu.ejs %>
      <div class="container-fluid graphic_img main-content ">
        <div class="container " id="main-content-alignment">



          <div class="row ">

            <div class=" col vertical-alignment">
              <div class="col-md-12 ">
                <!-- <img src="/images/speech_bubble.png" alt="speech_bubble" style="max-height: 120px;"> -->
                <div class="row">
                  <div class="col">
                    <h1 id="title_header_1">DISCOVER AND INSTANTLY</h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h1>BOOK QUALIFIED TUTORS</h1>
                  </div>
                </div>
                <div class="col-lg-10" style="padding-left:0px;">
                  <p id="welcome-text">
                    Whether you’re struggling with a particular subject, <br class="line-break-pitch">
                    want to fine-tune your exam and revision technique, <br class="line-break-pitch">
                    or need a safe environment to openly discuss <br class="line-break-pitch">
                    questions, Tutorbloc has got you covered.
                  </p>
                  <a href="https://tutorbloc.typeform.com/to/CNH87s"> <button type="button" class="standard-button" name="button">GET STARTED</button></a>

                  <p id="click-bait-text"> Join thousands of students, parents and teachers using Tutorbloc </p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="container-fluid informational-section">
        <div class="row justify-content-center align-items-center height-helper no-gutters">
          <div class="col-lg-3 col-md-3 col-sm-12">
            <img src="/images/safeguarding_logo.svg" alt="safeguarding" class="informational-image">
            <h2>SAFEGUARDING</h2>
            <div class="row justify-content-center">
              <div class="col-lg-10 col-md-10 col-sm-8 ">
                <p class="informational-text">
                  Every single tutor has been interviewed and handpicked for your safety. We have checked their qualifications, verified their identity and ensured that they have no criminal records.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <img src="/images/payment_logo.svg" alt="payment" class="informational-image">
            <h2>PAYMENT</h2>
            <div class="row justify-content-center">
              <div class="col-lg-10 col-md-10 col-sm-8 ">
                <p class="informational-text">
                  Forget about carrying around money and awkwardly paying for lessons in cash. We’ve built a seamless payment process that leaves you to focus all your efforts on learning.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <img src="/images/scheduling_logo.svg" alt="scheduling" class="informational-image">
            <h2>SCHEDULING</h2>
            <div class="row justify-content-center">
              <div class="col-lg-10 col-md-10 col-sm-8 ">
                <p class="informational-text">
                  Organise sessions without endless back-and-forth messages. Our unique algorithm perfectly pairs you with tutors that match your subject, availability and location preferences.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <% include  ../partials/footer.ejs %>

</body>

</html>
