<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
  <title>
    <%= title %>
  </title>
    <link rel='stylesheet' href='/stylesheets/defaultstyle.css' />
    <link rel='stylesheet' href='/stylesheets/homestyle.css' />
</head>

<body>
  <% include ../partials/scripts.ejs %>

    <% include ../partials/menu.ejs %>
      <div class="container-fluid  main-content ">
        <div class=" " id="main-content-alignment">


          <div class="row flex-md-nowrap flex-sm-nowrap flex-wrap-reverse">
            <div class="col-xl-5 col-lg-4 col-md-6 landing-info" >
              <br class="line-break-pitch">
              <br class="line-break-pitch">
              <br class="line-break-pitch">
              <br>
              <br>
              <div class="row">
                <div class="col">
                  <h1 >DISCOVER AND INSTANTLY</h1>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h1 id="title_header_1">BOOK QUALIFIED TUTORS</h1>
                </div>
              </div>

              <div class="row">
                  <div class="col-xl-9">
                    <div style="padding-left:0px;">
                      <p id="welcome-text">
                        Looking to improve in a particular subject? Want
                        to fine-tune your exam and revision and technique?
                        Tutorbloc has got you covered.
                      </p>
                      <br>
                      <a href="https://tutorbloc.typeform.com/to/CNH87s"> <button type="button" class="standard-button" name="button">GET STARTED</button></a>

                      <p id="click-bait-text"> </p>
                       <!-- Join thousands of students, parents and teachers using Tutorbloc. -->
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-6 offset-lg-1" style="overflow: hidden;">

              <br>
                <img src="/images/graphic_design3.svg" id="landing-img" >


            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="container-fluid informational-section">
          <div class="row justify-content-center align-items-center height-helper no-gutters">
            <div class="col-lg-4 col-md-3 col-sm-12">
              <img src="/images/safeguarding_logo.svg" alt="safeguarding" class="informational-image">
              <h2>SAFEGUARDING</h2>
              <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-12 ">
                  <p class="informational-text">
                    Every single tutor has been interviewed and handpicked for your safety. We have checked their qualifications, verified their identity and ensured that they have no criminal records.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-12">
              <img src="/images/scheduling_logo.svg" alt="scheduling" class="informational-image">
              <h2>SCHEDULING</h2>
              <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-12 ">
                  <p class="informational-text">
                    Organise sessions without endless back-and-forth messages. Our unique algorithm perfectly pairs you with tutors that match your subject, availability and location preferences.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12">
              <img src="/images/payment_logo.svg" alt="payment" class="informational-image">
              <h2>PAYMENT</h2>
              <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-12 ">
                  <p class="informational-text">
                    Forget about carrying around money and awkwardly paying for lessons in cash. We’ve built a seamless payment process that leaves you to focus all your efforts on learning.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <% include  ../partials/footer.ejs %>

</body>

</html>
