<div class="row">
  <div class="col-9">

      <div class="communityInfo">
        <!--  Repeat Below -->
        <div class="row communityPost">
          <div class="col noOverflow">
              <span class="communityHeader">News & Updates</span>
              <p class="communitySummary">
                Dummy text   Dummy text  Dummy text  Dummy text  Dummy text  Dummy text  Dummy text  Dummy text  Dummy text  Dummy text
              </p>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column justify-content-end">

              <p class="text-right iconText">
                <img src="/images/heartIcon.svg" class="iconImage" alt="heart">115
              </p>
              <p class="text-right iconText">
                <img src="/images/speechBubbleIcon.svg" alt="speech bubble" class="iconImage" >115
              </p>
              <p class="text-right iconText">
                <img src="/images/shareIcon.svg" alt="share icon" class="iconImage" > 115
              </p>
            </div>
          </div>
        </div>
        <!-- Repeat above -->
        <!--  Repeat Below -->
        <div class="row communityPost">
          <div class="col">
              <span class="communityHeader">News & Updates</span>
              <p class="communitySummary">
                Dummy text
              </p>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column justify-content-end">

              <p class="text-right iconText">
                <img src="/images/heartIcon.svg" class="iconImage" alt="heart">115
              </p>
              <p class="text-right iconText">
                <img src="/images/speechBubbleIcon.svg" alt="speech bubble" class="iconImage" >115
              </p>
              <p class="text-right iconText">
                <img src="/images/shareIcon.svg" alt="share icon" class="iconImage" > 115
              </p>
            </div>
          </div>
        </div>
        <!-- Repeat above -->
        <!--  Repeat Below -->
        <div class="row communityPost">
          <div class="col">
              <span class="communityHeader">News & Updates</span>
              <p class="communitySummary">
                Dummy text
              </p>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column justify-content-end">

              <p class="text-right iconText">
                <img src="/images/heartIcon.svg" class="iconImage" alt="heart">115
              </p>
              <p class="text-right iconText">
                <img src="/images/speechBubbleIcon.svg" alt="speech bubble" class="iconImage" >115
              </p>
              <p class="text-right iconText">
                <img src="/images/shareIcon.svg" alt="share icon" class="iconImage" > 115
              </p>
            </div>
          </div>
        </div>
        <!-- Repeat above -->
        <!--  Repeat Below -->
        <div class="row communityPost">
          <div class="col">
              <span class="communityHeader">News & Updates</span>
              <p class="communitySummary">
                Dummy text
              </p>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column justify-content-end">

              <p class="text-right iconText">
                <img src="/images/heartIcon.svg" class="iconImage" alt="heart">115
              </p>
              <p class="text-right iconText">
                <img src="/images/speechBubbleIcon.svg" alt="speech bubble" class="iconImage" >115
              </p>
              <p class="text-right iconText">
                <img src="/images/shareIcon.svg" alt="share icon" class="iconImage" > 115
              </p>
            </div>
          </div>
        </div>
        <!-- Repeat above -->
      </div>
  </div>
  <div class="col-3">
    <div class="communityInfo">
      <div class="card mb-3">
        <img src="/images/community/community_stock_img.jpg" class="card-img-top" alt="community_stock_img">
        <div class="card-body">
          <h5 class="card-title">Top 10 Revision Tips For The Festive Season</h5>
          <p class="card-text"> An astounding study has been un earthed that Jonathan Marklands method to revision is unmatched </p>
          <p class="card-text"><small class="text-muted">Date posted: 07/04/2019 </small></p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h5 class="card-title">The Secrets of Mathematics</h5>
              <h6 class="card-subtitle mb-2 text-muted">University of Oxford Podcasts</h6>
            </div>
            <div class="col">
              <!-- <img src="/images/community/play.svg" alt=""> -->
            </div>
          </div>
          <br>
          <img src="/images/community/sound_wave.svg" alt="sound wave" class="w-100">
          <p class="card-text"><small class="text-muted">Date posted: 07/04/2019 </small></p>
        </div>
      </div>
    </div>
  </div>
</div>
