<div class="row justify-content-center">
  <ul class="nav mobileOption nav-pills mb-3 w-100" id="pills-tab" role="tablist">
    <li class="nav-item w-50">
      <a class="mobileOption nav-link active " id="discussion-tab" data-toggle="pill" href="#discussions" role="tab" aria-controls="discussions" aria-selected="true">Discussions</a>
    </li>
    <li class="nav-item w-50">
      <a class="mobileOption nav-link" id="content-tab" data-toggle="pill" href="#community" role="tab" aria-controls="community" aria-selected="false"> Community</a>
    </li>
  </ul>

</div>

<div class="row">

  <div class="tab-content">

    <div class="tab-pane fade show active" id="discussions" role="tabpanel" aria-labelledby="discussion-tab">
      <div class="col-12">
        <div class="d-flex flex-column communityMobilePost">
          <div>
            <span class="communityHeader">News & Updates</span>
            <p class="communitySummary">
              Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text
            </p>
          </div>

          <div>
            <p>

              <img src="/images/heartIcon.svg" class="iconImage" alt="heart">115

              <img src="/images/speechBubbleIcon.svg" alt="speech bubble" class="iconImage">115

              <img src="/images/shareIcon.svg" alt="share icon" class="iconImage"> 115

            </p>
          </div>

        </div>

      </div>
    </div>

    <div class="tab-pane fade show" id="community" role="tabpanel" aria-labelledby="community-tab">

      <div class="card mb-3">
        <img src="/images/community/community_stock_img.jpg" class="card-img-top" alt="community_stock_img">
        <div class="card-body">
          <h5 class="card-title">Top 10 Revision Tips For The Festive Season</h5>
          <p class="card-text"> An astounding study has been un earthed that Jonathan Marklands method to revision is unmatched </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <h5 class="card-title">The Secrets of Mathematics</h5>
              <h6 class="card-subtitle mb-2 text-muted">University of Oxford Podcasts</h6>
            </div>
            <div class="col">
              <img src="/images/community/play.svg" alt="">
            </div>
          </div>
          <br>
          <img src="/images/community/sound_wave.svg" alt="sound wave" class="w-100">
        </div>
      </div>

    </div>
  </div>


</div>
